body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: "Helvetica Now Display DW", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    
    letter-spacing: normal;
    background-repeat: no-repeat;
}



p {
    font-weight: 500;
    color: #5e5e5f;
    letter-spacing: normal;
    font-size: 1.425rem;
    line-height: 1.5625rem;
    padding-top: 1px;
    padding-bottom: 4px;
    display: block;
}

h1 {
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 400;
    letter-spacing: .4em;
    color: #878a8f;
}

.h1, h2, p {
    font-family: "Helvetica Now Display DW", sans-serif;
}

.landingpage {
    margin-top: 10%;
    margin-left: 10%;
}

h2 {
    font-size: 70px;
    line-break: auto;
}
